ul {
  list-style-type: none;
  color: purple;
}
p {
}
div {
  color: purple;
}
body {
  font-family: cursive;
  background-color: rgb(226, 142, 133);
}

footer {
  text-align: center;
  padding: 20px;
}
.weather-app {
  border: 5px solid palevioletred;
}
input {
  color: purple;
  padding: 4px;
  margin: 15px;
  display: block;
}

.col {
  spacing: 20px;
}

#city {
  font-size: 30px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.date-font {
  font-size: 30px;
}

#forecast {
  font-size: 25px;
}
.currently {
  font-size: 25px;
}
.body-font {
  font-size: 32px;
}
#city-input {
  float: left;
  width: 100%;
}
#btn {
  width: auto;
}
